body {
    display: inline;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(26, 25, 25);
    color: white;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Shizuru', cursive;
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
    gap: 100px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* .modal-characters {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
/* .search1 {
    margin-right: 25px;
}
.search2 {
    margin-left: 25px;
} */
.player1Box {
    left: 5px;
    margin-top: 20px;
    margin-right: 25px;
}
.player2Box {
    right: 5px;
    margin-top: 20px;
    margin-left: 25px;
}
.displayBar {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
}

form {
    gap: 20px;
}
div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#searchGiphy1 {
    margin: 10px;
}
#searchGiphy2 {
    margin: 10px;
}

.display1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    left: 10px;
}
.display2 {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 10px;
    right: 10px;
}

img {
    border-radius: 10px;
    border: 2px solid black;
}

footer {
    margin: 8px;
}
